:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 15vh;
}

header img {
    height: 90px;
}

header .navbar a {
    font-size: 2rem;
    padding: 0.1rem;
    color: #666;
}

header .navbar a:hover {
    color: black;
}

nav a {
    margin: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: none;
}

header .icons a {
    font-size: 1.4rem;
    color: #666;
    text-decoration: none;
    margin-left: 4px;
    margin: 9px;
}

header .icons a:hover {
    color: black;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}


.container-fluid {
    padding: 0;
}

.row, .col {
    margin: 0;
    padding: 0;
}

.carousel {
    margin-top: 15vh;
}

.carousel-inner img {
    width: 100%;
    height: 90vh;
}

.mh1{
    margin-top: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 37px;
    font-weight: bold;
}
.mhp{
    margin-top: 4vh;
    width: 70%;
    font-size: 19px;
}









.signup-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 470px;
    height: 60vh;
    text-align: center;
    margin-top: 18vh;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.form-group {
    text-align: left;
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 8vh;
    margin-bottom: 19px;
    font-size: 17px;
}
input:hover{
    border: 1px solid black;
}
.btn1 {
    width: 25%;
    background: #353434;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: start;
}
.btn1:hover {
    background: #000000;
    color: white;
}




footer {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-top: 1px solid rgb(175, 162, 162);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 100%;
    max-width: 100vw;
}

.footer-content {
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.footer-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.footer-content p {
    font-size: 16px;
    color: rgb(86, 80, 80);
    line-height: 1.6;
    font-weight: lighter;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-content p:hover {
    color: black;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.list a {
    color: rgb(86, 80, 80);
    text-decoration: none;
    transition: 0.3s;
}

.list a:hover {
    color: #000000;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline;
}

.social-icons a {
    color: rgb(86, 80, 80);
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #000000;
}

.bottom-bar {
    background: #ffffff;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 100vw;
    margin-top: 20px;
}

.bottom-bar p {
    font-size: 14px;
    margin: 0;
}

/* Fix unwanted side space */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 20px;
    }

    .social-icons {
        justify-content: center;
    }
}



































@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
        display: flex;
        height: 10vh;
    }
    .carousel {
        margin-top: 10vh;
    }
    .carousel-inner img {
        height: 50vh;
        width: 100%;
    }
    .mhp {
        width: 100%;
    }
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .icons a {
        margin-left: 5px;
    }

    header #toggler:checked ~ .navbar {
        display: block;
    }

    header .navbar a {
        display: block;
        padding: 1rem;
        background: #ffffff;
        border-bottom: .1rem solid rgba(0, 0, 0, .1);
    }

    header img {
        margin-left: 10px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
} 
.contact{
    margin-top: 8%;
}
.con1{
    text-align: center;
}

.con1 h2{
    font-weight: bold;
    font-size: 44px;
    margin-right: 60px;
}
.con1 p{
    margin-top: 28px;
    margin-left: 145px;
    width: 70%;
    text-align: left;
}
.conicon{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 70%;
    text-align: left;
    margin-left: 75px;
}
.conicon i{
    margin: 30px;
    font-size: 23px;
    gap: 10px;
    margin-left: 70px;
}
.conicon h4 span{
    color: rgb(132, 128, 128);
    font-size: 11px;
    margin-top: 25px;
    margin-left: 15px;
}






@media (max-width: 992px) {
    .con1 h2 {
        font-size: 36px;
        margin-right: 0;
    }
    
    .con1 p {
        margin-left: 0;
        width: 90%;
    }
    
    .conicon {
        margin-left: 0;
        width: 90%;
    }
    
    .conicon i {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        text-align:left;
    }
    
    .con1, .con2 {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    
    .con1 h2 {
        font-size: 32px;
    }
    
    .con1 p {
        width: 100%;
        margin-left: 0;
    }
    
    .conicon {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    
    .conicon i {
        margin: 10px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .con1 h2 {
        font-size: 28px;
    }
    
    .conicon i {
        font-size: 18px;
    }
    
    .conicon h4 span {
        font-size: 10px;
    }
}
